.reservations {
  display: flex;
  width: 1101px;
  margin: auto;
  padding: 75px 0;
}

.reservations::before {
  height: 708px;
}
.reservations__images {
  display: flex;
  justify-content: space-between;
}
.reservations__images div {
  margin-right: 30px;
}

.book-now {
  text-align: center;
}
.book-now button {
  border: 1px solid #c9a131;
  background-color: #cc9900;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Open-Sans';
  height: 37px;
  width: 201px;
}
.reservations__text {
  color: #cc9900;
  font-size: 36px;
  font-family: 'Yeseva One';
  text-align: center;
}
.reservations__text p {
  color: #4c4c4c;
  font-size: 16px;
  font-family: 'Lato-Regular';
  text-align: center;
}
.reservations input,
.reservations select {
  font-family: 'Open-Sans';
  color: #7c7c7c;
  font-size: 16px;
  text-align: left;
  border: 1px solid #c9a131;
  box-sizing: border-box;
  height: 37px;
  padding: 0;
}
.reservations label {
  font-size: 14px;
  text-align: left;
  color: #c9a131;
  font-family: 'Open-Sans';
}
.reservations__tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-bottom: 30px;
}
.reservations__tables > div {
  display: flex;
  flex-direction: column;
}
.reservations > div:last-child {
  padding-left: 64px;
  width: 432px;
}
